/* ==========================================================================
Staff
========================================================================== */
.team-slide {
    float:left;
    width:100%;
    position: relative;
    margin-top:20px;
    display: block !important;
}
team-slide ul {
    padding:0px;
}
.team-slide li {
    text-align: center;
}
.team-slider-img {
    max-height: 100px;
}
.team-slider-item {
    margin:0px;
    max-width:100px !important;	
}
/* /Staff */